@media (max-width: 992px) {
    .pc {
        display: none;
    }
}


.link-cust {
    font-size: 10px;
}


/*тут описанны svg*/
/*адреса*/
.gps {
    fill: none;
}

.gps,
.gps-2 {
    stroke: #666;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

.gps-2 {
    fill: #fff;
}



/*каталог*/
.catalog-1 {
    fill: #fff;
}

.catalog-2 {
    fill: #666;
}


/*корзина*/

.basket-1 {
    fill: #fff;
}

.basket-1,
.basket-2 {
    stroke: #666;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

.basket-2 {
    fill: none;
}

/*дом*/
.home-1 {
    fill: none;
    stroke: #666;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

/*профиль*/
.profile-1 {
    fill: none;
    stroke: #666;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

/*ghjkl*/
