body {
    
}

@media (max-width: 991px) {
    .pc {
        display: none;
    }
}

#collapsibleNavId {
    display: flex;
    justify-content: center;
}
.link-cust {
    font-size: 10px;
    color: black;
    text-decoration: none;
}
a {
    text-decoration: none;
}

.footer {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    text-align: center;
    background-color: rgb(189, 189, 189);
    
}


.f-f {
    display: inline-block;
    width: 80px;

}

.marg {
    margin-left: 15px;

}

.d-ib {
    display: inline-block;
    width: 200px;
}
.rw-fl {
    align-items: center;
    
}
.col-cust {
    flex-grow: 1;
}
.btn-cust {
    border-radius: 50px;
}
/* .btn-cust:hover {
    background-color: rgb(134, 134, 134);
}
.btn-cust:active {
    background-color: rgb(134, 134, 134);
}
 */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /*Yeah, yeah everybody write about it*/ 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
.form-check-reverse {
    display: inline-block;
    text-align: left;
}

h6 {
    font-style: bold;
    font-size: 18px;
}



.colors {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.border-checked:checked + label{
    outline: 2px rgb(79, 79, 219) solid;
    outline-offset: 1px;
}

.sidebar {
    background-color: rgb(238, 237, 207);
    border-radius: 10px;
    height: 100%;
    padding: 30px;
    margin: 20px;
    flex-grow: 1;
    max-width: 310px;
}


.main{
    flex-grow: 5;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.select-head {
    display: inline-block;
    border: 1px gray solid;
    font-size: 15px;
    padding-right: 15px;
}


.www{
    max-width: 70%; 
    max-height: 36px;
    display:inline-block;
}


/*тут описанны svg*/
/*адреса*/
.gps {
    fill: none;
}

.gps,
.gps-2 {
    stroke: #666;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

.gps-2 {
    fill: #fff;
}



/*каталог*/
.catalog-1 {
    fill: #fff;
}

.catalog-2 {
    fill: #666;
}


/*корзина*/

.basket-1 {
    fill: #fff;
}

.basket-1,
.basket-2 {
    stroke: #666;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

.basket-2 {
    fill: none;
}

/*дом*/
.home-1 {
    fill: none;
    stroke: #666;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

/*профиль*/
.profile-1 {
    fill: none;
    stroke: #666;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

/*ghjkl*/
